service: linklift

image: robfrank/linklift

servers:
  web:
    - <%= ENV["HOST_IP"] %>

proxy:
  ssl: false
  host: linklift.arcadebrain.ai
  app_port: 80
  healthcheck:
    path: /up

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  server: ghcr.io
  username: robfrank

  # Always use an access token rather than real password (pulled from .kamal/secrets).
  password:
    - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: amd64
env:
  clear:
    JAVA_OPTS: "-Xmx2G -Dlinklift.arcadedb.host=linklift-arcadedb"

ssh:
  user: player
