name: Update versions

on:
    workflow_dispatch:
    schedule:
        - cron: "5 8 * * 0"

jobs:
    update-deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
            actions: write
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

            - run: ./scripts/update-accessories.sh update-all

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  branch: update/accessories
                  labels: dependencies
                  body: "New version of images are available for accessories in deployment configurations"
                  title: "Bump accessories versions"
