name: Update Docker images

on:
  workflow_dispatch:
  schedule:
    - cron: "5 8 * * 0"

jobs:
  update-docker-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@4b17f4ea784de29f71f85f9bc4955402ba1ae53c # v2.100.0

      - name: Run Updatecli to update docker-compose
        shell: bash
        run: |
          updatecli apply --config ./.updatecli/auto.yml
        env:
          GITHUB_TOKEN: "${{ env.GITHUB_TOKEN }}"

      - name: Update Kamal accessories
        uses: robfrank/kamal-accessories-updater@e567349279c21bcf02f2467ed3b2d8b5555a1436 # v26.1.0
        with:
          config-dir: ./config
          mode: update-all

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/accessories
          labels: dependencies
          body: "New version of images are available for Docker images in Kamal deployment configurations and/or docket-compose"
          title: "Bump Docker images to new versions"
