name: Update Docker images

on:
  workflow_dispatch:
  schedule:
    - cron: "5 8 * * 0"

jobs:
  update-docker-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@b846825b298f5351abd80f94c4f9eab63a38a804 # v2.98.0

      - name: Run Updatecli to update docker-compose
        shell: bash
        run: |
          updatecli apply --config ./.updatecli/auto.yml
        env:
          GITHUB_TOKEN: "${{ env.GITHUB_TOKEN }}"

      - name: Update Kamal accessories
        uses: robfrank/kamal-accessories-updater@231507f90c096e72b6234d9e17047788c58f6723 # v25.12.1
        with:
          config-dir: ./config
          mode: update-all

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/accessories
          labels: dependencies
          body: "New version of images are available for Docker images in Kamal deployment configurations and/or docket-compose"
          title: "Bump Docker images to new versions"
