name: Update Docker images

on:
  workflow_dispatch:
  schedule:
    - cron: "5 8 * * 0"

jobs:
  update-docker-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@9c04c99c508b3ac7851020724a912adde546f64b # v2.95.0

      - name: Run Updatecli to update docker-compose
        shell: bash
        run: |
          updatecli apply --config ./.updatecli/auto.yml
        env:
          GITHUB_TOKEN: "${{ env.GITHUB_TOKEN }}"

      - name: Update Kamal accessories
        uses: robfrank/kamal-accessories-updater@ecbebed116a23b972968e87cd167b71516f9b00c # v25.11.0
        with:
          config-dir: ./config
          mode: update-all

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/accessories
          labels: dependencies
          body: "New version of images are available for Docker images in Kamal deployment configurations and/or docket-compose"
          title: "Bump Docker images to new versions"
