name: Update Docker images

on:
  workflow_dispatch:
  schedule:
    - cron: "5 8 * * 0"

jobs:
  update-docker-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@4fd2c16d992120bd5355264a03ad0cddec013e1b # v2.99.0

      - name: Run Updatecli to update docker-compose
        shell: bash
        run: |
          updatecli apply --config ./.updatecli/auto.yml
        env:
          GITHUB_TOKEN: "${{ env.GITHUB_TOKEN }}"

      - name: Update Kamal accessories
        uses: robfrank/kamal-accessories-updater@e567349279c21bcf02f2467ed3b2d8b5555a1436 # v26.1.0
        with:
          config-dir: ./config
          mode: update-all

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/accessories
          labels: dependencies
          body: "New version of images are available for Docker images in Kamal deployment configurations and/or docket-compose"
          title: "Bump Docker images to new versions"
