name: Update Docker images

on:
  workflow_dispatch:
  schedule:
    - cron: "5 8 * * 0"

jobs:
  update-docker-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@5ca36367fadc6ad94d590984fd9c696e783ec635 # v2.96.0

      - name: Run Updatecli to update docker-compose
        shell: bash
        run: |
          updatecli apply --config ./.updatecli/auto.yml
        env:
          GITHUB_TOKEN: "${{ env.GITHUB_TOKEN }}"

      - name: Update Kamal accessories
        uses: robfrank/kamal-accessories-updater@935fbb8d5bffbf8ba4a7e7fd2e956c2774b274e4 # v25.11.2
        with:
          config-dir: ./config
          mode: update-all

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/accessories
          labels: dependencies
          body: "New version of images are available for Docker images in Kamal deployment configurations and/or docket-compose"
          title: "Bump Docker images to new versions"
